@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Bangers);

* {
	margin: 0 auto;

}

canvas {
	background: black;
	border: outset;
	display: block;

}

body {
	background-color: black;
}

.wrapper {
	width: 48rem;
	text-align: center;
	background: lightgrey;
	border: outset;

}

.GB img {
	width: 44rem;
	height: 22rem;

}

#title {
	text-align: center;
	font-family: 'Bangers', cursive;
	font-size: 24px;
	letter-spacing: 10px;
	padding-bottom: 15px;
	padding-top: 20px;

}
